*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #fafafa;
}

header{
    background-color: #0066FF;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.menu a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
}

.mobile-menu-icon{
  display: none;
}

.mobile-menu{
  display: none;
}


.bem-vindo{  
    background-color: #0711FF;
    width: auto;
    height: 351px;
}

.carrousel img{
    height: 400px;
}

.container-quadro{
    width: auto;
    gap: 40px;
    display: grid;
    padding: 20px 0;
    grid-template-columns: 200px 200px 200px;

    background-color: white;
    justify-content: center;
}
   
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
  }

  .card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    
    width: 400px;
    height: 300px;
    transition: all 0.3s ease-out;
  }

  .card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
   
  .card p {
    color: #a3a5ae;
    font-size: 16px;
  }
   
  .image {
    float: right;
    width: 64px;
    height: 64px;
  }
  .blue {
    border-left: 3px solid #4895ff;
  }
   
  .green {
    border-left: 3px solid #3bb54a;
  }
   
  .red {
    border-left: 3px solid #b3404a;
  }

.container-footer{
    height: auto;
    background-color: #0066FF;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
  
}

.menu-footer a {
  text-decoration: none;
  color: aliceblue;
  padding: 10px;
  display: grid;
  
}

.redes-sociais{
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
  
}

.container-imagens{
  display: flex;
  
}

.img{
  margin-top: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  padding: 2px;
}

.midias-sociais p{
  margin: 0;
}

.email{
  margin-top: 20px;
}

.email p{
  text-decoration: none;
  color: white;
  padding: 2px;
  margin: 0px;
}

.selo{
  margin-top: 20px;
  width: 10px;
  height: 10px;
}

.rodape{
  background: rgb(83, 83, 211);
  width: auto;
  height: 40px;
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.rodape p{
  margin: 0;
}

/* ===========tela login=================== */

.form{
  width: 300px; 
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  height: 200px;
  background: #0066FF ;
  border-radius: 7px;
  padding: 30px;
  gap: 5px;
  margin-top: 10em;
  box-shadow: 5px 5px 5px 1px black;
}

#nome, #senha, #cadastrar{
  margin: 0 auto;  
  width: 250px;
  height: 30px;
  border-radius: 5px;
}

/* ==================================================== */

.container-cadastrese{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==================================================== */
.aviso-nome,.aviso-senha{
  color: red;
  text-align: center;
  height: 18.5px;
}

#close, .item{
  color: white;  
}

#close{
  width: 100%;
  text-align: right;
  padding-right: 30px;
}

.form-container{
  border-radius: 10px;
  margin: auto;
  height: 300px;
  width: 500px;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#cadastrar{
  width: 230px;
  height: 50px;
  border-radius: 50px;
  font-size: 30px;
  border: none;
  background: rgb(0,150,50);
  color: white;
  box-shadow: 2px 2px 4px black;
}
#cadastrar:hover{
  background: rgb(0,80,0);
  cursor: pointer;
}


@media screen and (max-width: 770px){
  .container-quadro{
        grid-template-columns: 200px 200px;
        margin: 20px;
        gap: 50px;
    }
    .mobile-menu-icon{
      display: block;
    }

    .mobile-menu-icon button{
      background-color: transparent;
      border: none;
      cursor: pointer;
      width: 100px;
    }
    .mobile-menu{
  
    }
}

@media only screen and (max-width: 550px){
  .menu{
    display: none;
  }
}

@media screen and (max-width: 510px){
    .container-quadro{
        grid-template-columns: 100%;    
        margin: 20px;
    }
    .card{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
  #container-footer{
    width: auto;
    flex-direction: column;
  }

  .carrousel{
    width: auto;
  }

  .container-footer{
    
  }
  .maps{
    width: 30px
  }
  .rodape{
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  #container-footer{
    width: auto;
    flex-direction: column;
  }

  .carrousel{
    width: auto;
  }

  .container-footer{
  
  }
  .maps{
    width: auto
  }
}



